body{
    background-image: url(/image/pexels-justus-menke-5213156.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-size: 75px;
    color: rgb(205, 175, 66);
}

h2{
    color:greenyellow;
    font-size: 17px;
    text-align: center;
}
form{
    padding-top: 15px;
    color: antiquewhite;
    text-align: center;
}