body{
    background-image: url(image/pexels-justus-menke-5213156.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color: rgb(205, 175, 66);
    padding-top: 3cm;
    padding-bottom: 3cm;
}

h2{
    color: brown;
    font-size: 17px;
    text-align: center;
}
form{
    padding-top: 15px;
    color: antiquewhite;
    text-align: center;
}