body{
    background-image: url(/image/pexels-lilartsy-1563510.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.profile{
    text-align: center;
    color: rgb(218, 102, 0);
    background-color: rgb(251, 213, 166);
    border-radius: 20px;
    
    background-size: auto;
}
label{
    display: inline-block;
    width: 150px;
    text-align: center;
}
h1{
    text-align: center;
    color: beige;
}
.logout{
    width: 100px;
    height: 30px;
    border: none;
    background-color: beige;
    text-align: center;
    border-radius: 30px;
    float:right;
}
.sidebar{
    left: 0;
    width: 240px;
    height: 100%;
    background-color: bisque;
}
.sidebar header{
    font-size: 22px;
    color:brown;
    text-align: center;
    line-height: 50px;
    background-color: rgb(251, 213, 166);
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    color: rgb(33, 30, 30);
    font-size:20px;
    box-sizing:border-box;
    border-top:1px solid rgba(255, 255, 255, .1);
    transition: .4s;
}
